header {
  height: 2.4rem;
  width: 100vw;
  position: fixed;
  z-index: 999;
  background-color: #36403B;
}
@media (min-width: 768px) {
  header {
    display: flex;
    align-content: center;
    justify-content: space-between;
  }
}

nav {
  z-index: 999;
  width: 100vw;
  height: 100vh;
}

#nav__mobile__navbar {
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

#nav__desktop__navbar {
  z-index: 999;
  position: relative;
}
@media (min-width: 768px) {
  #nav__desktop__navbar {
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  #nav__desktop__navbar {
    display: none;
  }
}
#nav__desktop__navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.hidden {
  display: none;
}

#nav__hamburger__button {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  height: 2rem;
  position: absolute;
  transform: translate(6px, 8px);
}
#nav__hamburger__button div {
  width: 1.4rem;
  height: 0.2rem;
  margin-bottom: 0.3rem;
  background-color: white;
}
@media (min-width: 426px) {
  #nav__hamburger__button {
    display: none;
  }
}

#nav__logo__banner {
  width: 20rem;
  height: 2rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.2rem;
}
@media (min-width: 768px) {
  #nav__logo__banner {
    width: 10%;
  }
}
#nav__logo__banner__img {
  background: url("../imgs/flareLogo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}
#nav__logo__banner__text {
  color: white;
}
@media (min-width: 768px) {
  #nav__logo__banner__text {
    display: none;
  }
}

#nav__mobile__navtray {
  position: absolute;
  background-color: #36403B;
  opacity: 0.8;
  width: 5rem;
  height: 100vh;
}
#nav__mobile__navtray ul {
  margin-top: 2rem;
  padding: 0.4rem;
}
#nav__mobile__navtray ul li {
  margin-bottom: 1rem;
}
#nav__mobile__navtray .nav__item {
  color: #D9FFEB;
}
#nav__mobile__navtray .nav__item--selected {
  color: #73ffb5;
}
#nav__mobile__navtray__close {
  float: right;
  color: white;
  padding: 0.4rem;
  font-weight: bold;
}

#main__hero {
  width: 100vw;
  height: 50vh;
  background: url("../imgs/heroBanner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 3rem;
}

#main__content {
  z-index: -10;
  width: 100vw;
  height: 120vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#main__content__phoneimage {
  padding: 0;
  margin: 0;
  position: relative;
  height: 15rem;
  width: 19rem;
  max-height: 293px;
  background: url("../imgs/phoneGame1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  margin-left: 1rem;
}
@media (min-width: 375px) {
  #main__content__phoneimage {
    margin-left: 5rem;
  }
}
@media (min-width: 425px) {
  #main__content__phoneimage {
    background-size: contain;
    margin: 0 auto;
    width: 22rem;
  }
}
@media (min-width: 768px) {
  #main__content__phoneimage {
    background-size: contain;
    height: 20rem;
    width: 25rem;
  }
}
#main__content__description {
  transform: translateY(-6rem);
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.4px;
}
#main__content__description p {
  padding: 0 1rem;
  text-shadow: none;
  font-weight: 200;
  line-height: 1.3rem;
  letter-spacing: 0.4px;
}
#main__content__description p span {
  font-weight: bold;
  color: black;
}
#main__content__store__badges__google {
  max-width: 119px;
  max-height: 40px;
}

#main__content__two {
  width: 100vw;
  height: 80vh;
}
#main__content__two__banner {
  height: 40vh;
  width: 100%;
  background: url("../imgs/sectionTwo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 5rem;
}
#main__content__two__phoneimage {
  position: relative;
  height: 15rem;
  width: 19rem;
  max-height: 293px;
  background: url("../imgs/phoneGame2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
@media (min-width: 425px) {
  #main__content__two__phoneimage {
    background-size: contain;
    margin: 0 auto;
    width: 22rem;
  }
}
#main__content__two__description {
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.4px;
  margin-bottom: 5rem;
}
#main__content__two__description p {
  padding: 0 1rem;
  line-height: 1rem;
}

#main__content__three {
  width: 100vw;
  height: 100vh;
}
#main__content__three__banner {
  background: url("../imgs/section_three.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 40%;
}
#main__content__three__banner__overlay {
  widows: 100%;
  height: 40%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  transform: translateY(-17.3rem);
}
#main__content__three__cta {
  text-align: center;
  color: rgba(255, 255, 255, 0.897);
  z-index: 20;
  transform: translateY(-34rem);
}
#main__content__three__cta h3 {
  margin-bottom: 3rem;
}
#main__content__three__cta__button {
  position: relative;
  transform: translateY(2rem);
  text-decoration: none;
  background-color: #6C8075;
  border-radius: 4px;
  padding: 4px 10px;
  color: #D9FFEB;
}

footer {
  background-color: #36403B;
  height: 30vh;
  width: 100vw;
}

#footer__social h4 {
  display: block;
  text-align: center;
  flex: 100%;
  padding-top: 1rem;
  color: white;
}
#footer__social ul {
  padding: 0;
  display: flex;
  margin: 0 auto;
  list-style: none;
  width: 100vw;
  max-width: 10rem;
  justify-content: space-between;
  font-size: 1.5rem;
}
#footer__social ul li {
  display: inline;
}
#footer__social ul a {
  color: #D9FFEB;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
