$font: 'Noto Serif TC' , 'serif';
$colors: (light-green:#D9FFEB, main:#36403B, medium-green:#C3E6D3, dark-green:#6C8075);

header{
    height: 2.4rem;
    width: 100vw;
    position: fixed;
    transform: translate3d(0,0,0);
    z-index:999;
}

nav{
    z-index: 999;
    width: 100vw;
    height: 100vh;
}



#nav__mobile__navbar{
    background-color: map-get($colors,main);
    height:2.5rem;
    display:flex;
    justify-content: space-between;
    transform: translateZ(0);
    width:100vw;
    position: fixed !important;
    top: 0;
    left: 0;
    transform: translateZ(0);

}

#nav__desktop__navbar{
    position: fixed;
    @media(min-width: 768px){
        justify-content: space-around;
    }
    @media(max-width:767px){
        display: none;
    }
    ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
}

.hidden{
    display: none;
}

#nav__hamburger__button{
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 2rem;
    position: absolute;
    transform: translate(6px, 8px);
    div{
        width:1.4rem;
        height: 0.2rem;
        margin-bottom: 0.3rem;
        background-color: white;
    }
    @media(min-width: 426px){
        display: none;
    }
}

#nav__logo__banner{
    width:20rem;
    height: 2rem;
    margin: 0 auto;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top:0.2rem;
    &__img{
        background: url("../imgs/flareLogo.png");
        background-repeat: no-repeat;
        background-size:contain;
        background-position: center;
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
    }

    &__text{
        color: white;
    }
}

#nav__mobile__navtray{
    position: absolute;
    background-color: map-get($colors, main);
    opacity: 0.8;
    width: 5rem;
    height: 100vh;
    ul{
        margin-top:2rem;
        padding: 0.4rem;
        li{
            margin-bottom: 1rem;
        }
    }
    .nav__item{
        color: map-get($colors, light-green);
        &--selected{
            color:darken(map-get($colors, light-green), 20);
        }    
    }
    &__close{
        float:right;
        color:white;
        padding: 0.4rem;
        font-weight: bold;
    }
}

main{
    z-index: 0;
}
#main__hero{
    width:100vw;
    height: 50vh;
    background: url('../imgs/heroBanner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 3rem;
}

#main__content{
    z-index: -10;
    width: 100vw;
    height: 120vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);

    &__phoneimage{
        padding: 0;
        margin:0;
        position: relative;
        height: 15rem;
        width:19rem;
        max-height: 293px;
        background:url('../imgs/phoneGame1.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        margin-left: 1rem;
        @media(min-width:375px){
            margin-left: 5rem;
        }
        @media(min-width:425px){
            margin-left: 8rem;
        }
        @media(min-width:768px){
            background-size: contain;
            height: 20rem;
            width: 25rem
        }
    }

    &__description{
        transform: translateY(-6rem);
        font-weight: bold;
        text-align: center;
        letter-spacing: 0.4px;

        p{
            padding: 0 1rem;
            text-shadow: none;
            font-weight: 200;
            line-height: 1.3rem;
            letter-spacing: 0.4px;

            span{
                font-weight: bold;
                color: darken(map-get($colors, dark-green), 80%);
            }
        }
    }

    &__store__badges{
        &__google{
            max-width: 119px;
            max-height: 40px;
        }
    }
}

#main__content__two{
    width:100vw;
    height: 80vh;
    z-index: 0;
    &__banner{
        height: 40vh;
        width: 100%;
        background: url("../imgs/sectionTwo.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 5rem;
    }

    &__phoneimage{
        position: relative;
        height: 15rem;
        width:19rem;
        max-height: 293px;
        background:url('../imgs/phoneGame2.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }

    &__description{
        margin:0 auto;
        text-align: center;
        letter-spacing: 0.4px;
        margin-bottom: 5rem;
        p{
            padding: 0 1rem;
            line-height: 1rem;
        }
    }
}

#main__content__three{
    width: 100vw;
    height: 100vh;
    &__banner{
        background: url("../imgs/section_three.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 40%;
    }
    &__banner__overlay{
        widows: 100%;
        height: 40%;
        background-color: rgba(0,0,0,0.4);
        z-index:10;
        transform: translateY(-18.3rem);
    }
    &__cta{
        text-align: center;
        color: rgba(255, 255, 255, 0.897);
        z-index: 20;
        transform: translateY(-34rem);
        h3{
            margin-bottom: 3rem;
        }
        &__button{
            position: relative;
            transform: translateY(2rem);
            text-decoration: none;
            background-color: map-get($colors, dark-green);
            border-radius: 4px;
            padding: 4px 10px;
            color: map-get($colors, light-green);
        }
    }
}

footer{
    background-color:map-get($colors, main);
    height: 30vh;
    width: 100vw;
}

#footer__social{
    h4{
        display: block;
        text-align: center;
        flex: 100%;
        padding-top: 1rem;
        color: white;
    }
    ul{
        padding: 0;
        display: flex;
        margin: 0 auto;
        list-style: none;
        width: 100vw;
        max-width: 10rem;
        justify-content: space-between;
        font-size: 1.5rem;
        li{
            display: inline;
        }
        a{
            color: map-get($colors, light-green);   
            text-decoration: none;                     
        }
    }
}


